@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap');

body{margin: 0; padding: 0; box-sizing: border-box; font-family: Open Sans;}

header{
    width: 100vw;
    margin-top: 0px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
    margin: 0 10px;
}
header nav ul li a{
    color: #FFF;
}

div#mensagem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

div#mensagem p{
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    color: #FFF;
    width: 50%;
    border-radius: 10px;
}

div#tabela  {
    margin-top: 50px;
}

div#tabela table {
    border-collapse: collapse;
}

div#tabela table{
    margin: 0 auto;
    text-align: center;
}

div#tabela table tr td,th{
    padding: 10px 5px;
    border: 1px solid #606060;
}



main div#container-modal div#container-form{
    position: relative;
    width: 500px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 50px;
    border-radius: 15px ;
}

main form#formulario-pesquisa {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    margin:  0 auto;
}


main form#formulario-cadastro {
    position: relative;
    display: flex;
    flex-direction: column;
}

main form#formulario-cadastro input, select {
    margin-bottom: 20px;
    padding: 5px;
}

main div#container-modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3)
}

main button#btn-close-modal{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: #FFF;
    border: none;
    outline: 0;
    padding: 10px;
    border-radius: 5px;
}





